<div class="row">
  <!-- first two days -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 1 - Introdução</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 2   -->
        <td>08:00-10:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 4   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 2</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 3</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 4</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 5</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 6</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 7</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 8</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 9</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 10 - Encerramento</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>08:00-10:00</td>
        <td><strong>Conteúdo</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:00-10:15</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:15-12:00</td> <!-- time    -->
        <td><strong>Conteúdo</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
