<div class="row">
  <!-- first two days -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Abertura - Dia 1 - 22/09</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1  -->
        <td>09:00-09:30</td> <!-- time    -->
        <td><strong>Apresentação</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>09:30-10:30</td> <!-- time    -->
        <td><strong>Fundamentos Básicos pt. 1</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 4   -->
        <td>10:30-10:45</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 5   -->
        <td>10:45-12:00</td> <!-- time    -->
        <td><strong>Fundamentos Básicos pt. 2</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 2 - 24/09</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>09:00-10:30</td>
        <td><strong>Fundamentos Básicos pt. 3</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:30-10:45</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:45-12:00</td> <!-- time    -->
        <td><strong>Fundamentos Básicos pt. 4 e exercícios</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 3 - 13/10</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>09:00-10:30</td>
        <td><strong>Revisão dos exercícios</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:30-10:45</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:45-12:00</td> <!-- time    -->
        <td><strong>Fundamentos básicos pt. 5</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 4 - 15/10</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>09:00-10:30</td>
        <td><strong>Análise de Dados pt. 1</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:30-10:45</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:45-12:00</td> <!-- time    -->
        <td><strong>Análise de Dados pt. 2</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 5 - 20/10</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>09:00-10:30</td>
        <td><strong>Análise de Dados pt. 3</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:30-10:45</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:45-12:00</td> <!-- time    -->
        <td><strong>Análise de Dados pt. 4</strong></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 6 - 22/10</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>09:00-10:30</td>
        <td><strong>Visualização de Dados pt. 1</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:30-10:45</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:45-12:00</td> <!-- time    -->
        <td><strong>Visualização de Dados pt. 2</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 7 - 03/11</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>09:00-10:30</td>
        <td><strong>Web scraping pt. 1</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:30-10:45</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:45-12:00</td> <!-- time    -->
        <td><strong>Web scraping pt. 2</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Encerramento - Dia 8 - 05/11</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>09:00-10:30</td>
        <td><strong>Revisão geral</strong></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td>10:30-10:45</td> <!-- time    -->
        <td><strong>Intervalo</strong></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td>10:45-12:00</td> <!-- time    -->
        <td><strong>Encerramento - Continuando seu aprendizado de Python</strong></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
