<div class="row">
  <!-- first two days -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 1 - Introdução</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td>Antes de começar</td>
        <td></td>
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 2</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 3</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 4</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 5</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 6</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 7</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 8</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <!-- days 3 and 4 -->
  <div class="col-md-6">
    <!-- left column -->
    <h3>Dia 9</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- right column -->
    <h3>Dia 10 - Encerramento</h3>
    <table class="table table-striped">
      <tr>
        <!-- row 1   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 2   -->
        <td></td> <!-- time    -->
        <td></td> <!-- content -->
      </tr>
      <tr>
        <!-- row 3   -->
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
